.home-view {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin-top     : 52px;

    >.logo-container {
        display: flex;

        >img {
            height: 51px;

            @media @phone {
                height: 32px;
            }
        }

        >p {
            font-weight: 400;
            font-size  : 54px;
            margin-left: 16px;
            font-family: 'Arthead FREE';

            @media @phone {
                font-size: 32px;
            }
        }
    }

    >p {
        margin-top : 40px;
        font-size  : 140px;
        color      : #FFF200;
        font-family: 'Arthead FREE';

        @media @phone {
            font-size: 48px;
        }
    }
}